img {
	height: 200px;
	width: 200px;
	border-radius: 100%;
}

.wrapper {
	background-color: #FFF4FA

}

.site-nav .page-link {
background-color: #EFEEFD;
border-radius: 1.5em;
font-weight: bold;
padding: 0.2em 2em;

}

.site-nav .page-link:hover {
color: #004080;
}


.post-content {
font-family: cubic;

}