img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
		position: center;
}

.wrapper {
   // background-color: #FFECFF;

}
.site-header {
  background-image: url(../Images/congruent_outline.png);
} 
.page-content , .site-footer { 
  background-image: url(../Images/brickwall.png);
}

.site-nav .page-link {
 background-color: #FBFBFC;
 border-radius: 0.5em;
 font-weight: bold;
 padding: 0.2em;

}
h3 {
text-align: center;
}
.site-nav a.page-link:hover {
color: #004080;

}

.post-content {
 font-family: 'Raleway', sans-serif;
}

//resume page
#resume { 
font-family: 'Raleway', sans-serif;
}
#resume {
                section {
        clear: both;
    }
    h1 {
      border-bottom: 1px solid black;
    }
    section#preamble a {
        display: block;
        float: right;
        clear: right;
    }
    section#jobs {
        // & > ul will translate to section#jobs > ul
        h2, & > ul {
            display: inline-block;
            float: left;
        }
        h2 {
            width: 20%;
            line-height: 1;
        }
        & > ul {
            width: 80%;
            margin: 0;
            list-style-type: none;
        }
        h3 {
            display: inline-block;
            margin: 0;
        }
        .dates {
            float: right;
        }
        .employer:before {
            content: '';
            display: block;
        }
        .employer:after {
            content: ', ';
        }
    }
}
